{% load get %}
{% load urlbuilder %}
{% load call %}
{% if table.page_obj.object_list %}
    {% block table_head %}{% endblock %}
    {% spaceless %}
        <table
            {% if table.table.table_attrs %}
                {% for attr in table.table.table_attrs %}
                    {{ attr }}="{{ table.table.table_attrs|get:attr }}"
                {% endfor %}
            {% endif %}
        >
    {% endspaceless %}
    <thead><tr>
        {% for column in table.table.columns %}
            <th>{{ column.header }}
                {% if column.sortable %}
                <div class="table-sorting">
                    {% if not table.applied_sort == column.render_sort_asc %}
                    <a href="javascript:void(0);" data-ns="{{ table.ns }}" data-sort="{{ column.render_sort_asc }}" class="table-sorter">
                        <i class="icon-chevron-up"></i>
                    </a>
                    {% endif %}      
                    {% if not table.applied_sort == column.render_sort_desc %}
                    <a href="javascript:void(0);" data-ns="{{ table.ns }}" data-sort="{{ column.render_sort_desc}}" class="table-sorter">
                        <i class="icon-chevron-down"></i>
                    </a>
                    {% endif %}
                </div>
                {% endif %}
            </th>
        {% endfor %}
    </tr></thead>
    <tbody>
        {% block table_body %}
            {% for obj in table.page_obj.object_list %}
                {% include "tables/table_row.html" %}
            {% endfor %}
        {% endblock %}
    </tbody>
    </table>
    {% block table_footer %}{% endblock %}
    {% if table.page_obj and table.page_obj.has_other_pages %}
        {% with table.page_obj as page_obj %}
            {% include "tables/pagination_controls.html" %}
        {% endwith %}
    {% endif %}
{% else %}
    <div class="alert alert-block">
        {{ table.table.table_empty }}
    </div>
{% endif %}
