{% load get %}
{% load urlbuilder %}
{% load call %}

<tr>
{% for field in table.table.table_sequence %}
    {% with table.table.table_columns|get:field as col %}
        {% spaceless %}
        <td>
            {% if col.is_linked %}
                {% call col get_url request as url %}
                <a href="{% urlbuilder url obj %}"
                    {% for a in url.attrs %}
                        {{ a }}="{{ url.attrs|get:a }}"
                    {% endfor %}
                >
            {% endif %}
            {% call col value obj %}
            {% if col.is_linked %}
                </a>
            {% endif %}
        </td>
        {% endspaceless %}
    {% endwith %}
{% endfor %}
</tr>

